auto br-mgmt
  iface br-mgmt inet static
  bridge_stp off
  bridge_waitport 0
  bridge_fd 0
  # Bridge port references tagged interface
  bridge_ports {{ br_mgmt_interface }}
  address {{ br_mgmt_ip }}
  netmask 255.255.252.0
  dns-nameservers 192.168.1.1

# Bridge for vlan network
auto br-vlan
iface br-vlan inet manual
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    # Notice this bridge port is an Untagged host interface
    bridge_ports {{ br_vlan_interface }}

# Bridge for flat network
auto br-flat
iface br-flat inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ br_flat_interface }}
    address {{ br_flat_ip }}
    netmask 255.255.252.0
    dns-nameservers 192.168.1.1

# Bridge for vxlan network
auto br-vxlan
iface br-vxlan inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ br_vxlan_interface}}
    address {{ br_vxlan_ip }}
    netmask 255.255.252.0
    dns-nameservers 192.168.1.1
