---
cidr_networks:
  container: 172.29.236.0/22
  tunnel: 172.29.240.0/22
  storage: 172.29.244.0/22

used_ips:
  - 172.29.236.1
  - 172.29.240.1
  - 172.29.244.1
  - 192.168.100.1
  - 172.29.236.10
  - 192.168.100.10
  - "172.29.236.9,172.29.236.13"
  - "172.29.240.9,172.29.240.13"

global_overrides:
{% for controller in groups['openstack'] %}
  internal_lb_vip_address: {{ ansible_ssh_host }}
#  internal_lb_vip_address: {{ hostvars[controller]['br_mgmt_ip'] }}
  external_lb_vip_address: {{ hostvars[controller]['br_mgmt_ip'] }}
{% endfor %}
  lb_name: controller
  tunnel_bridge: "br-vxlan"
  management_bridge: "br-mgmt"
  provider_networks:
    - network:
        group_binds:
          - all_containers
          - hosts
        type: "raw"
        container_bridge: "br-mgmt"
        container_interface: "eth1"
        container_type: "veth"
        ip_from_q: "container"
        is_container_address: true
    - network:
        group_binds:
          - neutron_linuxbridge_agent
        container_bridge: "br-vxlan"
        container_type: "veth"
        container_interface: "eth10"
        container_mtu: "9000"
        ip_from_q: "tunnel"
        type: "vxlan"
        range: "1:1000"
        net_name: "vxlan"
    - network:
        group_binds:
          - neutron_linuxbridge_agent
        container_bridge: "br-vlan"
        container_type: "veth"
        container_interface: "eth11"
        type: "vlan"
        range: "101:200,301:400"
        net_name: "vlan"
    - network:
        group_binds:
          - neutron_linuxbridge_agent
        container_bridge: "br-vlan"
        container_type: "veth"
        container_interface: "eth12"
        host_bind_override: "eth12"
        type: "flat"
        net_name: "flat"
    - network:
        group_binds:
          - glance_api
          - cinder_api
          - cinder_volume
          - nova_compute
          - ceph-osd
        container_bridge: "br-storage"
        container_type: "veth"
        container_interface: "eth2"
        ip_from_w: "storae"
        type: "raw"

shared-infra_hosts:
{% for controller in groups['openstack'] %}
  {{ hostvars[controller]['ansible_hostname'] }}:
    ip: {{ hostvars[controller]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[controller]['ansible_user'] }}
{% endfor %}
#
repo-infra_hosts:
{% for controller in groups['openstack'] %}
  {{ hostvars[controller]['ansible_hostname'] }}:
    ip: {{ hostvars[controller]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[controller]['ansible_user'] }}
{% endfor %}
#
os-infra_hosts:
{% for controller in groups['openstack'] %}
  {{ hostvars[controller]['ansible_hostname'] }}:
    ip: {{ hostvars[controller]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[controller]['ansible_user'] }}
{% endfor %}
#
identity_hosts:
{% for controller in groups['openstack'] %}
  {{ hostvars[controller]['ansible_hostname'] }}:
    ip: {{ hostvars[controller]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[controller]['ansible_user'] }}
{% endfor %}
#
haproxy_hosts:
{% for controller in groups['openstack'] %}
  {{ hostvars[controller]['ansible_hostname'] }}:
    ip: {{ hostvars[controller]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[controller]['ansible_user'] }}
{% endfor %}
#
network_hosts:
{% for controller in groups['openstack'] %}
  {{ hostvars[controller]['ansible_hostname'] }}:
    ip: {{ hostvars[controller]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[controller]['ansible_user'] }}
{% endfor %}
#
# Compute hosts
#
{% if groups['compute'] %}
compute_hosts:
{% for compute_host in groups['compute'] %}
  {{ hostvars[compute_host]['ansible_hostname'] }}:
    ip: {{ hostvars[compute_host]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[compute_host]['ansible_user'] }}
{% endfor %}
{% endif %}
#
# Ceph Hosts
#
{% if groups['ceph'] is defined %}
ceph-osd_hosts:
{% for ceph_osd in groups['ceph'] %}
  {{ hostvars[ceph_osd]['ansible_hostname'] }}:
    ip: {{ hostvars[ceph_osd]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[ceph_osd]['ansible_user'] }}
{% endfor %}
#
ceph-mon_hosts:
{% for controller in groups['openstack'] %}
  {{ hostvars[controller]['ansible_hostname'] }}:
    ip: {{ hostvars[controller]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[controller]['ansible_user'] }}
{% endfor %}
{% endif %}
#
# Log hosts
#
log_hosts:
{% for controller in groups['openstack'] %}
  {{ hostvars[controller]['ansible_hostname'] }}:
    ip: {{ hostvars[controller]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[controller]['ansible_user'] }}
{% endfor %}
#
# Storage hosts, if Ceph hosts are available
#
{% if groups['ceph'] is defined %}
storage-infra_hosts:
{% for controller in groups['openstack'] %}
  {{ hostvars[controller]['ansible_hostname'] }}:
    ip: {{ hostvars[controller]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[controller]['ansible_user'] }}
{% endfor %}
#
storage_hosts:
{% for controller in groups['openstack'] %}
  {{ hostvars[controller]['ansible_hostname'] }}:
    ip: {{ hostvars[controller]['br_mgmt_ip'] }}
    ansible_user: {{ hostvars[controller]['ansible_user'] }}
{% endfor %}
{% endif %}