# User defined Compute Hosts, this should be a required group
compute_hosts:
{% for compute_host in groups['compute'] %}
  {{ hostvars[compute_host]['ansible_hostname'] }}:
    ip: {{ hostvars[compute_host]['ansible_host'] }}
{% endfor %}
