rsyslog_client_user_defined_targets:
{% for rsyslog_server in rsyslog_servers %}
  - name: "{{ rsyslog_server['name'] }}"
    proto: "{{ rsyslog_server['proto'] }}"
    port: "{{ rsyslog_server['port'] }}"
    hostname: "{{ vip }}"
{% endfor %}