---
{% set _ip_subnet = osa_ip_subnet|ipsubnet(osa_ip_netmask) %}
{% set _mgmt_subnet = osa_mgmt_subnet|ipsubnet(osa_ip_netmask) %}
{% set _flat_subnet = osa_flat_subnet|ipsubnet(osa_ip_netmask) %}
{% set _vlan_subnet = osa_vlan_subnet|ipsubnet(osa_ip_netmask) %}
{% set _vxlan_subnet = osa_vxlan_subnet|ipsubnet(osa_ip_netmask) %}
{% set _storage_subnet = osa_storage_subnet|ipsubnet(osa_ip_netmask) %}
{% set _ip_subnet_size = _ip_subnet|ipaddr('size') %}
###########################
# OpenStack compute nodes #
###########################
#
# This section defines compute hosts for openstack.
# To add more compute hosts duplicate a host definition and change as needed.
#
# Currently this supports two cells: cell1 and cell2
# By default, all hosts are configured for cell 1.
{% for compute in range(osa_compute['count']) %}
{%   set _starting_ip = loop.index + 10 %}
{%   set _ip_addr = _ip_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _mgmt_addr = _mgmt_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _flat_addr = _flat_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _vlan_addr = _vlan_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _vxlan_addr = _vxlan_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _storage_addr = _storage_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _gateway = _ip_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('1')|ipaddr('address') %}

- name: osa-comp-0{{ loop.index }}
  ansible_groups:
    - elkstack
    - compute
    - cell1
  box: {{ vagrant_image }}
  desktop: false
  provider: {{ vagrant_provider }}
  interfaces:
    - ip: {{ _ip_addr }}
      auto_config: true
      method: static
    - ip: {{ _mgmt_addr }}
      auto_config: true
      method: static
    - ip: {{ _flat_addr }}
      auto_config: true
      method: static
    - ip: {{ _vlan_addr }}
      auto_config: true
      method: static
    - ip: {{ _vxlan_addr }}
      auto_config: true
      method: static
    - ip: {{ _storage_addr }}
      auto_config: true
      method: static
  mem: {{ osa_compute['memory'] }}
  provision: true
  vcpu: {{ osa_compute['cpu'] }}
  windows: false
{% endfor %}

##################
## Ceph Cluster ##
##################
#
# Builds a ceph cluster for use with cinder.
# To provision the ceph cluster set:
# `osa_enable_ceph: true` in group_vars/openstack/openstack.yml
{% for ceph in range(osa_ceph['count']) %}
{%   set _starting_ip = loop.index + 20 %}
{%   set _ip_addr = _ip_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _mgmt_addr = _mgmt_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _storage_addr = _storage_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _gateway = _ip_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('1')|ipaddr('address') %}

- name: osa-ceph-0{{ loop.index }}
  ansible_groups:
    - elkstack
    - ceph
  box: {{ vagrant_image }}
  desktop: false
  provider: {{ vagrant_provider }}
  interfaces:
    - ip: {{ _ip_addr }}
      auto_config: true
      method: static
    - ip: {{ _mgmt_addr }}
      auto_config: true
      method: static
    - ip: {{ _storage_addr }}
      auto_config: true
      method: static
  mem: {{ osa_ceph['memory'] }}
  provision: true
  vcpu: {{ osa_ceph['cpu'] }}
  windows: false
{% endfor %}

##############################
# OpenStack controller nodes #
##############################
#
# OpenStack controllers
#
# This section defines the nodes for the OpenStack control plane.
{% for controller in range(osa_controllers['count']) %}
{%   set _starting_ip = loop.index + 30 %}
{%   set _mgmt_addr = _mgmt_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _flat_addr = _flat_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _vlan_addr = _vlan_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _vxlan_addr = _vxlan_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}
{%   set _storage_addr = _storage_subnet|ipaddr('net')|ipaddr(_starting_ip)|ipaddr('address') %}

- name: osa-contoller-0{{ loop.index }}
  ansible_groups:
    - elkstack
    - openstack
  box: {{ vagrant_image }}
  desktop: false
  provider: {{ vagrant_provider }}
  interfaces:
    - ip: {{ _ip_addr }}
      auto_config: true
      method: static
    - ip: {{ _mgmt_addr }}
      auto_config: true
      method: static
    - ip: {{ _flat_addr }}
      auto_config: true
      method: static
    - ip: {{ _vlan_addr }}
      auto_config: true
      method: static
    - ip: {{ _vxlan_addr }}
      auto_config: true
      method: static
    - ip: {{ _storage_addr }}
      auto_config: true
      method: static
  mem: {{ osa_controllers['memory'] }}
  provision: true
  vcpu: {{ osa_controllers['cpu'] }}
  windows: false
{% endfor %}
